<a href="https://colab.research.google.com/github/dinasquare/AIML_Work/blob/main/Employee_Attrition_for_Healthcare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import datetime
print(f"Last run: {datetime.datetime.now()}")

Last run: 2024-05-23 05:19:40.365535

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression

In [ ]:
df1 = pd.read_csv("/content/watson_healthcare_modified.csv")
# df2 = pd.read_csv("/content/watson_shap_values_for_testset.csv")

In [ ]:
df1.head()

,EmployeeID,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,Shift,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1313919,41,No,Travel_Rarely,1102,Cardiology,1,2,Life Sciences,1,...,1,80,0,8,0,1,6,4,0,5
1,1200302,49,No,Travel_Frequently,279,Maternity,8,1,Life Sciences,1,...,4,80,1,10,3,3,10,7,1,7
2,1060315,37,Yes,Travel_Rarely,1373,Maternity,2,2,Other,1,...,2,80,0,7,3,3,0,0,0,0
3,1272912,33,No,Travel_Frequently,1392,Maternity,3,4,Life Sciences,1,...,3,80,0,8,3,3,8,7,3,0
4,1414939,27,No,Travel_Rarely,591,Maternity,2,1,Medical,1,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
# df2.head()

In [ ]:
df1.isnull().sum()

EmployeeID                  0
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
Shift                       0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1676 entries, 0 to 1675
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmployeeID                1676 non-null   int64
 1   Age                       1676 non-null   int64
 2   Attrition                 1676 non-null   object
 3   BusinessTravel            1676 non-null   object
 4   DailyRate                 1676 non-null   int64
 5   Department                1676 non-null   object
 6   DistanceFromHome          1676 non-null   int64
 7   Education                 1676 non-null   int64
 8   EducationField            1676 non-null   object
 9   EmployeeCount             1676 non-null   int64
 10  EnvironmentSatisfaction   1676 non-null   int64
 11  Gender                    1676 non-null   object
 12  HourlyRate                1676 non-null   int64
 13  JobInvolvement            1676 non-null   int64
 14  JobLevel                  1676 non-null   int64
 15  JobRole                   1676 non-null   object
 16  JobSatisfaction           1676 non-null   int64
 17  MaritalStatus             1676 non-null   object
 18  MonthlyIncome             1676 non-null   int64
 19  MonthlyRate               1676 non-null   int64
 20  NumCompaniesWorked        1676 non-null   int64
 21  Over18                    1676 non-null   object
 22  OverTime                  1676 non-null   object
 23  PercentSalaryHike         1676 non-null   int64
 24  PerformanceRating         1676 non-null   int64
 25  RelationshipSatisfaction  1676 non-null   int64
 26  StandardHours             1676 non-null   int64
 27  Shift                     1676 non-null   int64
 28  TotalWorkingYears         1676 non-null   int64
 29  TrainingTimesLastYear     1676 non-null   int64
 30  WorkLifeBalance           1676 non-null   int64
 31  YearsAtCompany            1676 non-null   int64
 32  YearsInCurrentRole        1676 non-null   int64
 33  YearsSinceLastPromotion   1676 non-null   int64
 34  YearsWithCurrManager      1676 non-null   int64
dtypes: int64(26), object(9)
memory usage: 458.4+ KB

In [ ]:
X = df1.drop(columns=['EmployeeID','Attrition'])
Y=df1.Attrition

In [ ]:
Y=LabelEncoder().fit_transform(Y)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [ ]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1340 entries, 832 to 1126
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1340 non-null   int64
 1   BusinessTravel            1340 non-null   object
 2   DailyRate                 1340 non-null   int64
 3   Department                1340 non-null   object
 4   DistanceFromHome          1340 non-null   int64
 5   Education                 1340 non-null   int64
 6   EducationField            1340 non-null   object
 7   EmployeeCount             1340 non-null   int64
 8   EnvironmentSatisfaction   1340 non-null   int64
 9   Gender                    1340 non-null   object
 10  HourlyRate                1340 non-null   int64
 11  JobInvolvement            1340 non-null   int64
 12  JobLevel                  1340 non-null   int64
 13  JobRole                   1340 non-null   object
 14  JobSatisfaction           1340 non-null   int64
 15  MaritalStatus             1340 non-null   object
 16  MonthlyIncome             1340 non-null   int64
 17  MonthlyRate               1340 non-null   int64
 18  NumCompaniesWorked        1340 non-null   int64
 19  Over18                    1340 non-null   object
 20  OverTime                  1340 non-null   object
 21  PercentSalaryHike         1340 non-null   int64
 22  PerformanceRating         1340 non-null   int64
 23  RelationshipSatisfaction  1340 non-null   int64
 24  StandardHours             1340 non-null   int64
 25  Shift                     1340 non-null   int64
 26  TotalWorkingYears         1340 non-null   int64
 27  TrainingTimesLastYear     1340 non-null   int64
 28  WorkLifeBalance           1340 non-null   int64
 29  YearsAtCompany            1340 non-null   int64
 30  YearsInCurrentRole        1340 non-null   int64
 31  YearsSinceLastPromotion   1340 non-null   int64
 32  YearsWithCurrManager      1340 non-null   int64
dtypes: int64(25), object(8)
memory usage: 355.9+ KB

1 3 6 9 13 15 19 20

In [ ]:
model = Pipeline([
    ('scaler',
     ColumnTransformer([
         ('num',MinMaxScaler(),['Age','YearsAtCompany']),
         ('enc',OneHotEncoder(),['YearsAtCompany','BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','Over18','OverTime'])
     ])),
    # ('clf',RandomForestRegressor())
    ('clf',LogisticRegression())
])

In [ ]:
model.fit(x_train,y_train)

Pipeline(steps=[('scaler',
                 ColumnTransformer(transformers=[('num', MinMaxScaler(),
                                                  ['Age', 'YearsAtCompany']),
                                                 ('enc', OneHotEncoder(),
                                                  ['YearsAtCompany',
                                                   'BusinessTravel',
                                                   'Department',
                                                   'EducationField', 'Gender',
                                                   'JobRole', 'MaritalStatus',
                                                   'Over18', 'OverTime'])])),
                ('clf', LogisticRegression())])

In [ ]:
pred = model.predict(x_test)
accuracy = model.score(x_test,y_test)
accuracy*100

88.09523809523809